.divider-horizontal{
    width: 100hv;

    height: 1px;
    margin-top: 32px;
    padding: 0;
    background-color: rgb(66, 66, 66);
}
.today{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -18px;
    width: 70px;
    padding: 5px;
    background-color: rgba(0, 71, 255, 1);
    border-radius: 10px;
    
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.01em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}
.schedule{
    display: flex;
    min-height: 75vh;
    overflow: hidden;
    overflow-x: auto;
    
    .divider{
        min-width: 2px;
        height: 100vh;
        background-color: rgb(66, 66, 66);
        margin: 0px 15px;
        padding: 0;
    }

}